.application-filters {
  .filters-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-end;

    .ant-form-item {
      margin-bottom: 0;
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;

      .ant-form-item {
        width: 100%;
      }
    }
  }
}

